{% extends base_html|default:'pan_cnc/base.html' %}
{% load static %}

{% block content %}
<div class="jumbotron mt-4 shadow-lg">
    {% if description %}
    {{ description | safe }}
    {% else %}
    Welcome to the Appetizer
    {% endif %}
    <p class="lead">
        {% if documentation_link %}
        <a class="btn btn-primary btn-lg" href="{{ documentation_link }}" role="button" target="_">Learn more</a>
        {% endif %}
        &nbsp;
        {% if next %}
        <a class="btn btn-secondary btn-lg" href="/{{ app_dir }}/{{ next }}" role="button">Get Started</a>
        {% endif %}
    </p>
</div>
{%  endblock %}